body{
  background-image: url(https://free4kwallpapers.com/no-watermarks/originals/2018/06/18/created-a-3d-render-of-a-pokemon-trophy-in-the-grass-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  background: -webkit-linear-gradient(gold, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div{
  text-align: center;
  text-transform: capitalize;
}

button{
  background-color: inherit;
  color: white;
}

#pb{
  margin-left: 20%;
  margin-top:25%;
  position: absolute;
}

#sb{
  margin-left: 40%;
  margin-top:25%;
  position: absolute;
}

#mb{
  margin-left: 60%;
  margin-top:25%;
  position: absolute;
}
